*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 1400px;
}
#big-box{
    margin: 20px;
    border:2px solid blue;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}
/*quando se usa wrap é bom usar esse para alinhar 
        já que existirão muitas linhas*/

/*seletor de filho direto*/

#sub-box1,#sub-box2,#sub-box3,#sub-box4,#sub-box5,#sub-box6,#sub-box7{
    height: 60px;
    width: 60px;
    margin-top: 5px;
    margin-left: 5px;
    
    
}
#big-box > .box{
    border:2px solid blue;
    width: 260px;
    height: 180px;
    position: relative;/*ficando o elemento pai como relativo, posso fazer seus filhos serem absolutos
                        em relacao a ele*/
}
#sub-box1{
    position: static;
    background-color: blue;
}
#sub-box2{
    position: static;
    background-color: orange;
}


#sub-box3{
    background-color: orange;
    position: static;
}

#sub-box4{
    background-color: green;
    position: relative;
    left: 90px;
    top: 40px;
}

#sub-box5{
    background-color: orange;
    position:absolute;
    bottom: 50px;
}

#sub-box6{
    background-color: green;
    position: absolute;
    left: 50px;/*Esse position será em relação ao seu elemento pai, que está com relativa*/
    bottom: 20px;/*caso não houvesse alguém na hierarquia definido como relative a posicao
                    seria em relação a página*/
}

#sub-box7{
    background-color: green;
    position: fixed;
    left: 400px;/*esse positionamento é com relação a viewport e naõ importa
                se dermos scroll será mantido na mesma posição*/
    top: 370px;
}

.impar{
    color: blue;
    font-weight: bold;
}
.legend{
    padding: 30px;
}