* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

body {
	width: 100vw;
	height: 100vh;
}

form {
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	background-color: rgb(192, 190, 190);
	border: 2px solid rgb(6, 82, 6);
}
button,
input[type="button"] {
	padding: 5px 10px;
	margin: 5px 0px;
	border-radius: 10px;
	background-color: green;
	cursor: pointer;
}
label {
	font-weight: bold;
}

img {
	height: 25px;
}

p {
	margin: 20px;
}
