:root{
    --color-blue:#74cddf;
    --color-blue-dark:#28a7c0;
    --color-blue-light:#b7e3ec;
    --color-black:#000000;
    --color-white:#ffffff;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Dentro do comentário abaixo encontra-se a forma de importar a fotne pelo css*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/

/*font-family: 'Roboto', sans-serif;*/
/*normal uso essa*/
@font-face {
    font-family: 'Play';
    src: url("../assets/fonts/Play-Regular.ttf");
}
/*Para aplicar negrito uso essa*/
@font-face {
    font-family: 'Play bold';
    src: url("../assets/fonts/Play-Bold.ttf");
    font-weight: bold;
}

body{
    background-color:rgb(70, 66, 66);
    color: var(--color-white);
}

main{
    width: 1000px;
    margin: 0 auto;
}
h1,h2{
    margin: 20px 0px;
    color: var(--color-black);
    font-size: 20px;
    font-family: 'Play',sans-serif;
    font-weight: 400;
}
h1{
    text-align: center;
    font-family: 'Play bold';
}

p{
    color: var(--color-white);
    text-align: justify;
    text-justify: inter-character;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}



header{
    margin-bottom: 20px;
    padding: 20px 0px;
    width: 100%;
    background-color: var(--color-blue);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: yellow;
}
/*
header{
    position: fixed;
    top: 0px;
}
*/
header ul{
    list-style-type: none;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0px 20px;
}
.topo{
    height: 30px;
    margin: 0px 20px;
}
.user{
    display: flex;
    align-items: center;
}
.user p{
    font-size: 16px;
}

.container{
    width: 100%;
    display: flex;
}


aside{
    width: 20%;
    background-color:var(--color-blue);
}

aside ul > li{
    list-style-type: none;
    outline: 1px solid var(--color-black);
    padding: 20px;
    text-align: center;
    height: 60px;
}
aside ul >li:hover{
    background-color: var(--color-blue-dark);
}

article{
    width: 80%;
    height: 480px;
    background-color: var(--color-blue-light);
    border-left: 1px solid var(--color-black);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 30px 30px 0px;
}

.texto{
    display: flex;
    flex-direction: column;
}
.texto p{
    color: var(--color-black);
    padding-bottom: 10px;
}
.galeria{
    display: flex;
    justify-content: space-evenly;
}
.poster{
    width: 150px;
}



footer{
    text-align: center;
    margin-top: 50px;
    padding: 20px 0px;
    width: 100%;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

footer > small{
    color: var(--color-white);
}

@media screen and (max-width:999px) {
    main{
        width: 100%;
    }
    .poster{
        width: 20%;
    }
}
@media screen and (max-width:651px) {
    main{
        width: 100%;
    }
    aside{
        font-size: 13px;
    }
    .poster{
        width: 20%;
    }
    .user p{
        display:none;
    }
    nav ul li{
        padding: 0px 5px;
        margin: 0px;
    }
    .topo{
        margin:0px;
    }

}

@media (max-width:425px) {
    aside{
        display: none;
    }
    article{
        width: 100%;
        height:540px;
    }
    #destaques{
        display:none;
    }
}